<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
        default-lazy-init="true" profile="web">

    <context:component-scan base-package="org.vividus.bdd.variable.ui.web"/>
    <context:component-scan base-package="org.vividus.jackson.databind.ui.web"/>
    <context:component-scan base-package="org.vividus.bdd.converter.ui.web" />

    <bean id="siteMapParser" class="org.vividus.sitemap.SiteMapParser">
        <property name="httpClient">
            <bean class="org.vividus.http.client.HttpClient"
                  factory-bean="httpClientFactory"
                  factory-method="buildHttpClient">
                <constructor-arg>
                    <bean parent="httpClientConfig">
                        <property name="headersMap">
                            <bean factory-bean="propertyParser" factory-method="getPropertyValuesByPrefix">
                                <constructor-arg value="sitemap.parser.http.header." />
                            </bean>
                        </property>
                    </bean>
                </constructor-arg>
            </bean>
        </property>
        <property name="siteUrl" value="${sitemap.parser.site-url}" />
        <property name="baseUrl" value="${sitemap.parser.base-url}" />
        <property name="followRedirects" value="${sitemap.parser.follow-redirects}" />
    </bean>

    <bean id="timeoutConfigurer" class="org.vividus.selenium.TimeoutConfigurer">
        <property name="pageLoadTimeout" value="${selenium.timeout.page-load-timeout}" />
        <property name="pageLoadTimeoutTimeUnit" value="${selenium.timeout.page-load-timeout-unit}" />
        <property name="asyncScriptTimeout" value="${selenium.timeout.async-script-timeout}" />
        <property name="asyncScriptTimeoutTimeUnit" value="${selenium.timeout.async-script-timeout-unit}" />
    </bean>

    <bean id="webDriverFactory" class="org.vividus.selenium.WebDriverFactory" parent="parentWebDriverFactory">
        <property name="webDriverType" value="${selenium.browser}" />
    </bean>

    <bean id="remoteWebDriverFactory" class="org.vividus.selenium.RemoteWebDriverFactory" />

    <bean id="elementUtil" class="org.vividus.ui.web.util.ElementUtil" />

    <bean class="org.vividus.selenium.screenshot.WebScreenshotTaker" parent="abstractScreenshotTaker">
        <property name="fullPageScreenshots" value="${selenium.screenshot.full-page}" />
        <property name="indent" value="${selenium.screenshot.indent}" />
        <property name="highlighterType" value="${selenium.screenshot.highlighter}" />
    </bean>

    <bean class="org.vividus.selenium.screenshot.WebAshotFactory" parent="abstractAshotFactory">
        <property name="shootingStrategy" value="${web.screenshot.strategy}" />
        <property name="screenshotShootingStrategy" value="${selenium.screenshot.strategy}" />
        <property name="ashotConfigurations">
            <bean factory-bean="propertyMapper" factory-method="readValues">
                <constructor-arg value="web.screenshot.strategy." />
                <constructor-arg value="org.vividus.selenium.screenshot.WebScreenshotConfiguration"/>
            </bean>
        </property>
    </bean>

    <bean id="SIMPLE" class="org.vividus.selenium.screenshot.strategies.SimpleScreenshotShootingStrategy" />
    <bean id="VIEWPORT_PASTING" class="org.vividus.selenium.screenshot.strategies.ViewportPastingScreenshotShootingStrategy" />
    <bean id="DEVICE_DEPENDENT" class="org.vividus.selenium.screenshot.strategies.DeviceDependentScreenshotShootingStrategy" />
    <bean id="PHONE_ANDROID_PORTRAIT" class="org.vividus.selenium.screenshot.strategies.PhoneAndroidScreenshotShootingStrategy" />
    <bean id="PHONE_ANDROID_LANDSCAPE" class="org.vividus.selenium.screenshot.strategies.PhoneAndroidScreenshotShootingStrategy" />

    <bean id="scrollbarHandler" class="org.vividus.selenium.screenshot.ScrollbarHandler">
        <property name="webDriverManager" ref="webDriverManager" />
        <property name="webDriverProvider" ref="webDriverProvider" />
    </bean>

    <bean id="webDriverManager" class="org.vividus.selenium.manager.WebDriverManager" parent="genericWebDriverManager" >
        <property name="electronApp" value="${desktop-electron-app}" />
    </bean>

    <bean id="fieldActions" class="org.vividus.ui.web.action.FieldActions" />
    <bean id="javascriptActions" class="org.vividus.ui.web.action.WebJavascriptActions" />
    <bean id="mouseActions" class="org.vividus.ui.web.action.MouseActions">
        <property name="webDriverEventListeners" ref="webDriverEventListener-EventHandlers" />
    </bean>
    <bean id="navigateActions" class="org.vividus.ui.web.action.NavigateActions" />
    <bean id="videoPlayerActions" class="org.vividus.ui.web.action.VideoPlayerActions" />
    <bean id="webElementActions" class="org.vividus.ui.web.action.WebElementActions" />
    <bean id="windowsActions" class="org.vividus.ui.web.action.WindowsActions" />
    <bean class="org.vividus.ui.web.action.FrameActions" />

    <bean class="org.vividus.ui.web.action.WebWaitActions" parent="waitActions">
        <property name="pageStartsToLoadTimeout" value="${web.wait.page-starts-to-load-timeout}" />
    </bean>

    <bean id="alertActions" class="org.vividus.ui.web.action.AlertActions">
        <property name="waitForAlertTimeout" value="${web.alert.wait-for-alert-timeout}" />
    </bean>

    <bean id="cookieManager" class="org.vividus.ui.web.action.CookieManager" />

    <bean id="webApplicationConfiguration" class="org.vividus.ui.web.configuration.WebApplicationConfiguration">
        <constructor-arg value="${web-application.main-page-url}" />
        <constructor-arg value="${web-application.authentication-mode}" />
        <property name="mobileScreenResolutionWidthThreshold" value="${web-application.phone-resolution-width-threshold}" />
        <property name="tabletScreenResolutionWidthThreshold" value="${web-application.tablet-resolution-width-threshold}" />
        <property name="applicationEnvironmentType" value="${web-application.environment-type}" />
    </bean>

    <bean id="cssSelectorFactory" class="org.vividus.ui.web.action.CssSelectorFactory" />

    <bean id="localStorageProvider" class="org.vividus.ui.web.action.storage.LocalStorageProvider" />
    <bean id="localStorageManager" class="org.vividus.ui.web.action.storage.LocalStorageManager" />

    <bean id="abstractWebElementSearchAction" class="org.vividus.ui.web.action.search.AbstractWebElementSearchAction"
          parent="abstractElementAction" abstract="true" />

    <bean id="abstractStateFilter" class="org.vividus.ui.web.action.search.AbstractStateFilter"
          abstract="true" />

    <bean class="org.vividus.ui.web.action.search.LinkTextSearch" parent="abstractWebElementSearchAction" />
    <bean class="org.vividus.ui.web.action.search.LinkUrlPartSearch" parent="abstractWebElementSearchAction">
        <property name="caseSensitiveSearch" value="${web.search.link-url.case-sensitive}" />
    </bean>

    <bean class="org.vividus.ui.web.action.search.CaseSensitiveTextSearch" parent="abstractWebElementSearchAction" />
    <bean class="org.vividus.ui.web.action.search.TooltipFilter" parent="abstractWebElementSearchAction" />
    <bean class="org.vividus.ui.web.action.search.StateFilter" parent="abstractStateFilter" />
    <bean class="org.vividus.ui.web.action.search.RelativeToParentWidthFilter"/>
    <bean class="org.vividus.ui.action.search.GenericTextFilter" >
        <constructor-arg index="0" value="#{T(org.vividus.ui.web.action.search.WebLocatorType).TEXT_PART}" />
        <constructor-arg index="1" value="#{T(org.vividus.bdd.steps.StringComparisonRule).CONTAINS}" />
    </bean>
    <bean class="org.vividus.ui.web.action.search.ValidationIconSourceFilter" />
    <bean class="org.vividus.ui.web.action.search.PlaceholderFilter" />
    <bean class="org.vividus.ui.web.action.search.ButtonNameSearch" parent="abstractWebElementSearchAction" />
    <bean class="org.vividus.ui.web.action.search.CheckboxNameSearch" parent="abstractWebElementSearchAction" />
    <bean class="org.vividus.ui.web.action.search.ClassAttributePartFilter" />
    <bean class="org.vividus.ui.web.action.search.ImageWithSourcePartFilter" parent="abstractWebElementSearchAction" />
    <bean class="org.vividus.ui.web.action.search.FieldTextFilter" />
    <bean class="org.vividus.ui.web.action.search.FieldTextPartFilter" />
    <bean class="org.vividus.ui.web.action.search.DropDownStateFilter" parent="abstractStateFilter" />
    <bean class="org.vividus.ui.web.action.search.DropDownTextFilter" />

    <bean class="org.vividus.ui.web.action.search.LinkUrlSearch" parent="abstractWebElementSearchAction">
        <property name="caseSensitiveSearch" value="${web.search.link-url.case-sensitive}" />
    </bean>

    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).CASE_INSENSITIVE_TEXT}" />
    </bean>
    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).CLASS_NAME}" />
    </bean>
    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).CSS_SELECTOR}" />
    </bean>
    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).FIELD_NAME}" />
    </bean>
    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).ID}" />
    </bean>
    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).IMAGE_SRC}" />
    </bean>
    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).PARTIAL_LINK_TEXT}" />
    </bean>
    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).SHADOW_CSS_SELECTOR}" />
    </bean>
    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).TAG_NAME}" />
    </bean>
    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).XPATH}" />
    </bean>

    <bean class="org.vividus.ui.web.action.search.ElementNameSearch" parent="abstractWebElementSearchAction" >
        <constructor-arg index="0" value="#{T(org.vividus.ui.web.action.search.WebLocatorType).NAME}" />
    </bean>
    <bean class="org.vividus.ui.web.action.search.ElementNameSearch" parent="abstractWebElementSearchAction" >
        <constructor-arg index="0" value="#{T(org.vividus.ui.web.action.search.WebLocatorType).ELEMENT_NAME}" />
    </bean>

    <bean id="webElementHighlighter" class="org.vividus.selenium.screenshot.WebElementHighlighter" />

    <bean id="webApplicationListener" class="org.vividus.ui.web.listener.DelegatingWebApplicationListener">
        <property name="webApplicationListeners" ref="delegatingWebApplicationListener-WebApplicationListeners" />
    </bean>

    <bean id="elementValidations" class="org.vividus.bdd.steps.ui.web.validation.ElementValidations" />
    <bean id="focusValidations" class="org.vividus.bdd.steps.ui.web.validation.FocusValidations" />

    <bean id="webDriverSetupSteps" class="org.vividus.bdd.steps.WebDriverSetupSteps">
        <constructor-arg index="0" value="${web-application.session-scope}" />
    </bean>

    <bean id="alertSteps" class="org.vividus.bdd.steps.ui.web.AlertSteps" />
    <bean id="buttonSteps" class="org.vividus.bdd.steps.ui.web.RadioButtonSteps" />
    <bean id="codeSteps" class="org.vividus.bdd.steps.ui.web.CodeSteps" />
    <bean id="cookieSteps" class="org.vividus.bdd.steps.ui.web.CookieSteps" />
    <bean id="checkboxSteps" class="org.vividus.bdd.steps.ui.web.CheckboxSteps" />
    <bean id="dropdownSteps" class="org.vividus.bdd.steps.ui.web.DropdownSteps" />
    <bean id="elementSteps" class="org.vividus.bdd.steps.ui.web.ElementSteps" />
    <bean id="fieldSteps" class="org.vividus.bdd.steps.ui.web.FieldSteps" />
    <bean id="focusSteps" class="org.vividus.bdd.steps.ui.web.FocusSteps" />
    <bean id="dragAndDropSteps" class="org.vividus.bdd.steps.ui.web.DragAndDropSteps" />

    <bean id="jsValidationSteps" class="org.vividus.bdd.steps.ui.web.JsValidationSteps">
        <property name="includeBrowserExtensionLogEntries" value="${web.steps.js.include-browser-extension-log-entries}" />
    </bean>

    <bean id="keyboardSteps" class="org.vividus.bdd.steps.ui.web.KeyboardSteps" />
    <bean id="linkSteps" class="org.vividus.bdd.steps.ui.web.LinkSteps" />
    <bean id="localStorageSteps" class="org.vividus.bdd.steps.ui.web.LocalStorageSteps" />
    <bean id="nestedSteps" class="org.vividus.bdd.steps.ui.web.NestedSteps" />

    <bean id="pageSteps" class="org.vividus.bdd.steps.ui.web.PageSteps">
        <property name="httpClient" ref="httpClient" />
        <property name="keepUserInfoForProtocolRedirects" value="${web.steps.page.keep-user-info-for-protocol-redirects}" />
    </bean>

    <bean id="setContextSteps" class="org.vividus.bdd.steps.ui.web.SetContextSteps" />
    <bean id="sliderSteps" class="org.vividus.bdd.steps.ui.web.SliderSteps" />
    <bean id="scriptSteps" class="org.vividus.bdd.steps.ui.web.ScriptSteps" />
    <bean id="scrollSteps" class="org.vividus.bdd.steps.ui.web.ScrollSteps" />
    <bean id="setVariableSteps" class="org.vividus.bdd.steps.ui.web.SetVariableSteps" />
    <bean id="videoPlayerSteps" class="org.vividus.bdd.steps.ui.web.VideoPlayerSteps" />
    <bean id="waitSteps" class="org.vividus.bdd.steps.ui.web.WaitSteps" />
    <bean id="textValidationSteps" class="org.vividus.bdd.steps.ui.web.TextValidationSteps" />

    <bean id="performanceSteps" class="org.vividus.bdd.steps.ui.web.PerformanceSteps" >
        <constructor-arg index="0">
            <bean class="org.vividus.ui.web.performance.PerformanceMetrics" />
        </constructor-arg>
    </bean>

    <bean id="actionSteps" class="org.vividus.bdd.steps.ui.web.ActionSteps" />

    <bean id="webUiVividusSetupSteps" class="org.vividus.bdd.steps.WebUiVividusSetupSteps">
        <property name="windowsStrategy" value="${selenium.windows-strategy}" />
    </bean>

    <bean id="proxySteps" class="org.vividus.proxy.steps.ProxySteps" />

    <bean class="org.vividus.bdd.monitor.WebScreenshotOnFailureMonitor" parent="abstractScreenshotOnFailureMonitor"/>

    <bean class="org.vividus.ui.web.listener.WebSourceCodePublishingOnFailureListener" parent="abstractSourceCodePublishngOnFailureListener" lazy-init="false" />

    <bean id="browserWindowSizeProvider" class="org.vividus.selenium.BrowserWindowSizeProvider" >
        <property name="remoteScreenResolution" value="${selenium.grid.screen-resolution}" />
    </bean>

    <bean id="browserWindowSizeListener" class="org.vividus.selenium.BrowserWindowSizeListener"
          lazy-init="false">
        <property name="webDriverManager" ref="webDriverManager" />
        <property name="webDriverProvider" ref="webDriverProvider" />
        <property name="browserWindowSizeProvider" ref="browserWindowSizeProvider" />
    </bean>

    <bean id="vividusWebDriverFactory" class="org.vividus.selenium.VividusWebDriverFactory">
        <constructor-arg index="0" value="${selenium.grid.enabled}"/>
        <property name="webDriverEventListeners" ref="webDriverEventListener-EventHandlers"/>
    </bean>

    <bean id="webDriverManagerContext" class="org.vividus.selenium.WebDriverManagerContext" />

    <bean id="delegatingWebApplicationListener-WebApplicationListeners" class="org.vividus.spring.ListMergerFactoryBean">
        <property name="lists">
            <list>
                <ref bean="delegatingWebApplicationListener-CustomWebApplicationListeners" />
                <ref bean="javascriptActions" />
            </list>
        </property>
    </bean>
    <util:list id="delegatingWebApplicationListener-CustomWebApplicationListeners" />

    <bean id="webDriverEventListener-EventHandlers" class="org.vividus.spring.ListMergerFactoryBean">
        <property name="lists">
            <list>
                <ref bean="webDriverEventListener-CustomEventHandlers" />
                <list>
                    <bean class="org.vividus.ui.web.listener.AlertHandlingPageLoadListener" lazy-init="false">
                        <property name="alertHandlingOptions" value="${selenium.alert-strategy}" />
                    </bean>
                    <bean class="org.vividus.ui.web.listener.WebUiContextListener" lazy-init="false">
                        <property name="uiContext" ref="uiContext" />
                    </bean>
                    <bean class="org.vividus.ui.web.listener.PerformanceMetricsListener" />
                </list>
            </list>
        </property>
    </bean>
    <util:list id="webDriverEventListener-CustomEventHandlers" />

    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="org.vividus.spring.StringToSeleniumLocatorSetConverter" />
                <bean class="org.vividus.spring.StringToSeleniumLocatorConverter" />
                <bean class="org.vividus.spring.StringToLocatorConverter" />
                <bean class="org.vividus.spring.StringToLocatorSetConverter" />
                <bean class="org.vividus.spring.StringToDateTimeFormatterConverter" />
                <bean class="org.vividus.spring.StringToLocaleConverter"/>
            </set>
        </property>
    </bean>

    <util:map id="knownIssueChecker-WebUiKnownIssueDataProviders">
        <entry key="currentPageUrl">
            <bean class="org.vividus.bdd.issue.CurrentPageUrlKnownIssueDataProvider" />
        </entry>
    </util:map>

    <bean id="browserLogCleanningListener" class="org.vividus.bdd.steps.ui.web.listener.BrowserLogCleanningListener" />

    <util:list id="stepBeanNames-WebUi" value-type="java.lang.String">
        <idref bean="webDriverSetupSteps" />
        <idref bean="alertSteps" />
        <idref bean="cookieSteps" />
        <idref bean="scriptSteps" />
        <idref bean="codeSteps" />
        <idref bean="waitSteps" />
        <idref bean="setVariableSteps" />
        <idref bean="setContextSteps" />
        <idref bean="buttonSteps" />
        <idref bean="checkboxSteps" />
        <idref bean="dropdownSteps" />
        <idref bean="elementSteps" />
        <idref bean="fieldSteps" />
        <idref bean="linkSteps" />
        <idref bean="pageSteps" />
        <idref bean="textValidationSteps" />
        <idref bean="jsValidationSteps" />
        <idref bean="focusSteps" />
        <idref bean="keyboardSteps" />
        <idref bean="sliderSteps" />
        <idref bean="videoPlayerSteps" />
        <idref bean="nestedSteps" />
        <idref bean="actionSteps" />
        <idref bean="webUiVividusSetupSteps" />
        <idref bean="localStorageSteps" />
        <idref bean="proxySteps" />
        <idref bean="dragAndDropSteps" />
        <idref bean="scrollSteps" />
        <idref bean="performanceSteps" />
    </util:list>

    <util:map id="propertyEditors-WebUi" key-type="java.lang.Class">
        <entry key="org.vividus.selenium.WebDriverType">
            <bean class="org.vividus.beans.RelaxedEnumPropertyEditor">
                <constructor-arg value="org.vividus.selenium.WebDriverType" />
            </bean>
        </entry>
    </util:map>
 </beans>
