<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
        default-lazy-init="true" profile="web">

    <bean id="httpRequestSteps" class="org.vividus.steps.integration.HttpRequestSteps" />

    <bean id="resourceCheckSteps" class="org.vividus.steps.integration.ResourceCheckSteps" init-method="init">
        <constructor-arg>
            <bean class="org.vividus.http.validation.ResourceValidator">
                <constructor-arg ref="httpClient-ResourceValidator" />
            </bean>
        </constructor-arg>
        <property name="uriToIgnoreRegex" value="${resource-checker.uri-to-ignore-regex}" />
    </bean>

    <bean id="httpRedirectsProvider" class="org.vividus.http.HttpRedirectsProvider">
        <property name="httpClient">
            <bean class="org.vividus.http.client.HttpClient"
                  factory-bean="httpClientFactory"
                  factory-method="buildHttpClient">
                <constructor-arg>
                    <bean parent="httpClientConfig">
                        <property name="circularRedirectsAllowed" value="${http.redirects-provider.circular-redirects-allowed}" />
                    </bean>
                </constructor-arg>
            </bean>
        </property>
    </bean>

    <bean id="abstractFetchingUrlsTableTransformer"
          class="org.vividus.crawler.transformer.AbstractFetchingUrlsTableTransformer"
          abstract="true">
        <property name="webApplicationConfiguration" ref="webApplicationConfiguration" />
        <property name="httpRedirectsProvider" ref="httpRedirectsProvider" />
    </bean>

    <bean id="siteMapParser" class="org.vividus.crawler.SiteMapParser">
        <property name="httpClient">
            <bean class="org.vividus.http.client.HttpClient"
                  factory-bean="httpClientFactory"
                  factory-method="buildHttpClient">
                <constructor-arg>
                    <bean parent="httpClientConfig">
                        <property name="headers">
                            <bean factory-bean="propertyParser" factory-method="getPropertyValuesByPrefix">
                                <constructor-arg value="sitemap.parser.http.header." />
                            </bean>
                        </property>
                    </bean>
                </constructor-arg>
            </bean>
        </property>
        <property name="siteUrl" value="${sitemap.parser.site-url}" />
        <property name="baseUrl" value="${sitemap.parser.base-url}" />
        <property name="followRedirects" value="${sitemap.parser.follow-redirects}" />
    </bean>

    <bean name="FROM_SITEMAP" class="org.vividus.crawler.transformer.SiteMapTableTransformer"
          parent="abstractFetchingUrlsTableTransformer">
        <property name="siteMapParser" ref="siteMapParser" />
        <property name="ignoreErrors" value="${transformer.from-sitemap.ignore-errors}" />
        <property name="filterRedirects" value="${transformer.from-sitemap.filter-redirects}" />
    </bean>

    <bean name="FROM_HEADLESS_CRAWLING" class="org.vividus.crawler.transformer.HeadlessCrawlerTableTransformer"
          parent="abstractFetchingUrlsTableTransformer">
        <property name="crawlControllerFactory">
            <bean class="org.vividus.crawler.CrawlControllerFactory">
                <constructor-arg index="0">
                    <bean factory-bean="propertyParser" factory-method="getPropertyValuesByPrefix">
                        <constructor-arg value="transformer.from-headless-crawling."/>
                    </bean>
                </constructor-arg>
            </bean>
        </property>
        <property name="filterRedirects" value="${transformer.from-headless-crawling.filter-redirects}" />
        <property name="seedRelativeUrls" value="${transformer.from-headless-crawling.seed-relative-urls}" />
        <property name="excludeExtensionsRegex" value="${transformer.from-headless-crawling.exclude-extensions-regex}" />
    </bean>

    <util:list id="stepBeanNames-WebAppToRestApi" value-type="java.lang.String">
        <idref bean="httpRequestSteps" />
        <idref bean="resourceCheckSteps" />
    </util:list>
 </beans>
