<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
    default-lazy-init="true">

    <bean id="storageQueueSteps" class="org.vividus.azure.storage.queue.StorageQueueSteps">
        <constructor-arg>
            <bean factory-bean="propertyMapper" factory-method="readValues">
                <constructor-arg value="azure.storage.queue." />
                <constructor-arg value="org.vividus.azure.storage.queue.model.Queue" />
            </bean>
        </constructor-arg>
        <constructor-arg>
           <bean class="org.vividus.azure.storage.queue.StorageQueueService">
               <property name="receiveTimeout" value="${azure.storage.queue.receive-timeout}" />
           </bean>
        </constructor-arg>
    </bean>

    <util:list id="stepBeanNames-Azure-Storage-Queue" value-type="java.lang.String">
        <idref bean="storageQueueSteps" />
    </util:list>
</beans>
