<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
    default-lazy-init="true">

    <bean id="org.vividus.aws.s3.AmazonS3Client"
        class="org.vividus.aws.s3.AmazonS3ClientFactory"
        factory-method="create">
        <constructor-arg name="s3AccessKey" value="${aws.s3.access-key}" />
        <constructor-arg name="s3SecretKey" value="${aws.s3.secret-key}" />
        <constructor-arg name="region" value="${aws.s3.region}" />
    </bean>

    <bean id="org.vividus.aws.s3.steps.S3BucketSteps"
        class="org.vividus.aws.s3.steps.S3BucketSteps">
    </bean>

    <util:list id="stepBeanNames-AWS-S3" value-type="java.lang.String">
        <idref bean="org.vividus.aws.s3.steps.S3BucketSteps" />
    </util:list>
</beans>
