<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
    default-lazy-init="true">

    <bean class="org.vividus.http.validation.ResourceValidator" >
      <constructor-arg index="0">
        <bean class="org.vividus.http.client.HttpClient"
            factory-bean="httpClientFactory"
            factory-method="buildHttpClient">
            <constructor-arg>
                <bean parent="restApiHttpClientConfig">
                    <property name="skipResponseEntity" value="true" />
                    <property name="lastRequestInterceptor"><null/></property>
                    <property name="lastResponseInterceptor"><null/></property>
                    <property name="httpResponseHandlers"><list/></property>
                </bean>
            </constructor-arg>
        </bean>
      </constructor-arg>
    </bean>

    <bean id="httpTestContext" class="org.vividus.http.HttpTestContext" />

    <bean name="FROM_JSON" class="org.vividus.transformer.JsonRestApiTableTransformer">
        <property name="httpClient" ref="httpClient-RestApi"/>
    </bean>

    <bean id="apiSteps" class="org.vividus.steps.api.HttpRequestSteps">
        <property name="apiEndpoint" value="${rest-api.http.endpoint}"/>
    </bean>

    <bean id="httpResponseValidationSteps" class="org.vividus.steps.api.HttpResponseValidationSteps" />

    <bean id="httpResourceValidationSteps" class="org.vividus.steps.http.HttpResourceValidationSteps" />

    <bean id="jsonResponseValidationSteps" class="org.vividus.steps.api.JsonResponseValidationSteps">
        <property name="softAssert" ref="jsonSoftAssert" />
    </bean>

    <bean id="sslSteps" class="org.vividus.steps.ssl.SslSteps" />

    <bean id="httpClient-RestApi" class="org.vividus.http.client.HttpClient"
        factory-bean="httpClientFactory"
        factory-method="buildHttpClient">
        <constructor-arg>
            <ref bean="restApiHttpClientConfig" />
        </constructor-arg>
    </bean>

    <bean id="cookieStoreProvider" class="org.vividus.http.CookieStoreProvider">
        <constructor-arg value="${rest-api.http.cookie-store-level}" />
    </bean>

    <bean id="restApiHttpClientConfig" parent="httpClientConfig">
        <property name="headers">
            <bean factory-bean="propertyParser" factory-method="getPropertyValuesByPrefix">
                <constructor-arg value="rest-api.http.header." />
            </bean>
        </property>
        <property name="lastRequestInterceptor" ref="publishingAttachmentInterceptor" />
        <property name="lastResponseInterceptor">
            <bean class="org.vividus.http.SavingConnectionDetailsHttpResponseInterceptor">
                <property name="httpTestContext" ref="httpTestContext" />
            </bean>
        </property>
        <property name="cookieStore">
            <bean factory-method="getCookieStore" factory-bean="cookieStoreProvider" />
        </property>
        <property name="httpResponseHandlers">
            <list>
                <ref bean="publishingAttachmentInterceptor" />
            </list>
        </property>
    </bean>

    <bean class="org.vividus.http.HttpRequestExecutor">
        <constructor-arg ref="httpClient-RestApi" />
        <constructor-arg ref="httpTestContext" />
        <constructor-arg ref="softAssert" />
    </bean>

    <bean id="publishingAttachmentInterceptor" class="org.vividus.http.PublishingAttachmentInterceptor" />

    <bean id="httpCookieSteps" class="org.vividus.steps.api.HttpCookieSteps"/>

    <util:list id="stepBeanNames-Api" value-type="java.lang.String">
        <idref bean="apiSteps" />
        <idref bean="httpResponseValidationSteps" />
        <idref bean="httpResourceValidationSteps" />
        <idref bean="jsonResponseValidationSteps" />
        <idref bean="cookieStoreProvider" />
        <idref bean="httpCookieSteps" />
        <idref bean="sslSteps" />
    </util:list>

    <util:map id="propertyEditors-RestApi" key-type="java.lang.Class">
        <entry key="org.vividus.http.CookieStoreLevel">
            <bean class="org.vividus.beans.RelaxedEnumPropertyEditor">
                <constructor-arg value="org.vividus.http.CookieStoreLevel" />
            </bean>
        </entry>
    </util:map>

    <bean id="response-code" class="org.vividus.http.variable.ResponseCodeDynamicVariable"/>
    <bean id="response" class="org.vividus.http.variable.ResponseDynamicVariable"/>
</beans>
