[submodule "vividus-build-system"]
	path = vividus-build-system
	url = https://github.com/vividus-framework/vividus-build-system.git
[submodule "vividus-plugin-lighthouse/src/main/resources/allure-customization/webjars/vividus-lighthouse-viewer-adaptation"]
	path = vividus-plugin-lighthouse/src/main/resources/allure-customization/webjars/vividus-lighthouse-viewer-adaptation
	url = https://github.com/vividus-framework/vividus-lighthouse-viewer-adaptation
	branch = viewer-6b3b50eea9a64ff0c483d1024c32255c52fda98f
