[submodule "vividus-build-system"]
	path = vividus-build-system
	url = https://github.com/vividus-framework/vividus-build-system.git
[submodule "vividus-plugin-lighthouse/src/main/resources/allure-customization/webjars/vividus-lighthouse-viewer-adaptation"]
	path = vividus-plugin-lighthouse/src/main/resources/allure-customization/webjars/vividus-lighthouse-viewer-adaptation
	url = https://github.com/vividus-framework/vividus-lighthouse-viewer-adaptation
	branch = viewer-8fe7e8db5c1d5b7c38758adcd42572e74288265e
