#Ignore Gradle cache
.gradle

#Ignore Gradle wrapper (downloaded from build system)
/gradle/

#Ignore IDE project files
.settings
.project
.classpath
**/bin/**
*.iml
*.ipr
*.iws
**/.idea/

#Build Dirs#
/output/
/*/output/
/.out/**

# macOS system files
.DS_Store
