<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd"
        default-lazy-init="true" profile="web_selenium">

    <context:component-scan base-package="org.vividus.ui.web.listener" />

    <bean id="timeoutConfigurer" class="org.vividus.selenium.TimeoutConfigurer">
        <property name="pageLoadTimeout" value="${web.timeouts.page-load}" />
        <property name="asyncScriptTimeout" value="${web.timeouts.async-script}" />
    </bean>

    <bean id="webDriverFactory" class="org.vividus.selenium.WebDriverFactory" parent="parentWebDriverFactory">
        <constructor-arg index="0" value="${selenium.grid.enabled}"/>
        <constructor-arg>
            <bean factory-bean="propertyMapper" factory-method="readValues">
                <constructor-arg value="web-application.basic-authentication." />
                <constructor-arg value="org.vividus.selenium.authentication.BasicAuthCredentials" />
            </bean>
        </constructor-arg>
        <property name="webDriverType" value="${selenium.browser}" />
    </bean>

    <bean class="org.vividus.selenium.screenshot.WebCoordsProvider" />

    <bean id="screenshotTaker" class="org.vividus.selenium.screenshot.WebScreenshotTaker" parent="abstractScreenshotTaker">
        <property name="fullPageScreenshots" value="${selenium.screenshot.full-page}" />
        <property name="indent" value="${selenium.screenshot.indent}" />
        <property name="highlighterType" value="${selenium.screenshot.highlighter}" />
    </bean>

    <bean class="org.vividus.selenium.screenshot.WebAshotFactory" parent="abstractAshotFactory" />

    <bean class="org.vividus.selenium.screenshot.WebScreenshotCropper" />

    <bean id="screenshotParametersFactory" class="org.vividus.ui.web.screenshot.WebScreenshotParametersFactory"
        parent="abstractScreenshotParametersFactory">
        <property name="shootingStrategy" value="${web.screenshot.strategy}" />
        <property name="screenshotConfigurations">
            <bean factory-bean="propertyMapper" factory-method="readValues">
                <constructor-arg value="web.screenshot.strategy." />
                <constructor-arg value="org.vividus.ui.web.screenshot.WebScreenshotConfiguration"/>
            </bean>
        </property>
    </bean>

    <bean id="scrollbarHandler" class="org.vividus.selenium.screenshot.ScrollbarHandler">
        <property name="webDriverManager" ref="webDriverManager" />
        <property name="webDriverProvider" ref="webDriverProvider" />
    </bean>

    <bean id="webDriverManager" class="org.vividus.selenium.manager.WebDriverManager">
        <constructor-arg index="0" value="${selenium.grid.enabled}"/>
        <property name="electronApp" value="${desktop-electron-app}" />
        <property name="remoteScreenResolution" value="${selenium.grid.screen-resolution}" />
    </bean>

    <bean class="org.vividus.selenium.KeysManager" />

    <bean id="fieldActions" class="org.vividus.ui.web.action.FieldActions" />
    <bean id="javascriptActions" class="org.vividus.ui.web.action.WebJavascriptActions">
        <property name="stickyHeaderSizePercentage" value="${web-application.sticky-header-size-percentage}" />
    </bean>
    <bean id="mouseActions" class="org.vividus.ui.web.action.MouseActions" />
    <bean id="navigateActions" class="org.vividus.ui.web.action.NavigateActions" />
    <bean id="videoPlayerActions" class="org.vividus.ui.web.action.VideoPlayerActions" />
    <bean id="webElementActions" class="org.vividus.ui.web.action.WebElementActions" />
    <bean id="windowsActions" class="org.vividus.ui.web.action.WindowsActions" />
    <bean class="org.vividus.ui.web.action.FrameActions" />

    <bean class="org.vividus.ui.web.action.WebWaitActions" parent="waitActions">
        <property name="pageStartsToLoadTimeout" value="${web.wait.page-starts-to-load-timeout}" />
    </bean>

    <bean id="alertActions" class="org.vividus.ui.web.action.AlertActions">
        <property name="waitForAlertTimeout" value="${web.alert.wait-for-alert-timeout}" />
    </bean>

    <bean class="org.vividus.ui.web.action.WebDriverCookieManager" />

    <bean id="cssSelectorFactory" class="org.vividus.ui.web.action.CssSelectorFactory" />

    <bean id="abstractWebElementSearchAction" class="org.vividus.ui.web.action.search.AbstractWebElementSearchAction"
          parent="abstractElementAction" abstract="true" />

    <bean id="abstractStateFilter" class="org.vividus.ui.web.action.search.AbstractStateFilter"
          abstract="true" />

    <bean class="org.vividus.ui.web.action.search.LinkTextSearch" parent="abstractWebElementSearchAction" />
    <bean class="org.vividus.ui.web.action.search.LinkUrlPartSearch" parent="abstractWebElementSearchAction">
        <property name="caseSensitiveSearch" value="${web.search.link-url.case-sensitive}" />
    </bean>

    <bean class="org.vividus.ui.web.action.search.CaseSensitiveTextSearch" parent="abstractWebElementSearchAction" />
    <bean class="org.vividus.ui.web.action.search.TooltipFilter" parent="abstractWebElementSearchAction" />
    <bean class="org.vividus.ui.web.action.search.StateFilter" parent="abstractStateFilter" />
    <bean class="org.vividus.ui.web.action.search.RelativeToParentWidthFilter"/>
    <bean class="org.vividus.ui.action.search.GenericTextFilter" >
        <constructor-arg index="0" value="#{T(org.vividus.ui.web.action.search.WebLocatorType).TEXT_PART}" />
        <constructor-arg index="1" value="#{T(org.vividus.steps.StringComparisonRule).CONTAINS}" />
    </bean>
    <bean class="org.vividus.ui.web.action.search.ValidationIconSourceFilter" />
    <bean class="org.vividus.ui.web.action.search.PlaceholderFilter" />
    <bean class="org.vividus.ui.web.action.search.ButtonNameSearch" parent="abstractWebElementSearchAction" />
    <bean class="org.vividus.ui.web.action.search.CheckboxNameSearch" parent="abstractWebElementSearchAction" />
    <bean class="org.vividus.ui.web.action.search.ClassAttributePartFilter" />
    <bean class="org.vividus.ui.web.action.search.ImageWithSourcePartFilter" parent="abstractWebElementSearchAction" />
    <bean class="org.vividus.ui.web.action.search.FieldTextFilter" />
    <bean class="org.vividus.ui.web.action.search.FieldTextPartFilter" />
    <bean class="org.vividus.ui.web.action.search.DropDownStateFilter" parent="abstractStateFilter" />
    <bean class="org.vividus.ui.web.action.search.DropDownTextFilter" />

    <bean class="org.vividus.ui.web.action.search.LinkUrlSearch" parent="abstractWebElementSearchAction">
        <property name="caseSensitiveSearch" value="${web.search.link-url.case-sensitive}" />
    </bean>

    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).CASE_INSENSITIVE_TEXT}" />
    </bean>
    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).CLASS_NAME}" />
    </bean>
    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).CSS_SELECTOR}" />
    </bean>
    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).FIELD_NAME}" />
    </bean>
    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).ID}" />
    </bean>
    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).IMAGE_SRC}" />
    </bean>
    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).PARTIAL_LINK_TEXT}" />
    </bean>
    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).SHADOW_CSS_SELECTOR}" />
    </bean>
    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).TAG_NAME}" />
    </bean>
    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).XPATH}" />
    </bean>
    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).UNNORMALIZED_XPATH}" />
    </bean>
    <bean class="org.vividus.ui.action.search.ByLocatorSearch" parent="abstractElementAction" >
        <constructor-arg value="#{T(org.vividus.ui.web.action.search.WebLocatorType).RADIO_BUTTON}" />
    </bean>

    <bean class="org.vividus.ui.web.action.search.ElementNameSearch" parent="abstractWebElementSearchAction" >
        <constructor-arg index="0" value="#{T(org.vividus.ui.web.action.search.WebLocatorType).NAME}" />
    </bean>
    <bean class="org.vividus.ui.web.action.search.ElementNameSearch" parent="abstractWebElementSearchAction" >
        <constructor-arg index="0" value="#{T(org.vividus.ui.web.action.search.WebLocatorType).ELEMENT_NAME}" />
    </bean>

    <bean id="webElementHighlighter" class="org.vividus.selenium.screenshot.WebElementHighlighter" />

    <bean id="elementValidations" class="org.vividus.steps.ui.web.validation.ElementValidations" />
    <bean id="focusValidations" class="org.vividus.steps.ui.web.validation.FocusValidations" />

    <bean class="org.vividus.ui.web.performance.PerformanceMetrics" />

    <bean class="org.vividus.ui.web.cdp.SeleniumCdpClient" />

    <bean id="webDriverSetupSteps" class="org.vividus.steps.WebDriverSetupSteps">
        <constructor-arg index="0" value="${web-application.session-scope}" />
    </bean>

    <bean id="alertSteps" class="org.vividus.steps.ui.web.AlertSteps" />
    <bean id="buttonSteps" class="org.vividus.steps.ui.web.RadioButtonSteps" />
    <bean id="codeSteps" class="org.vividus.steps.ui.web.CodeSteps" />
    <bean id="cookieSteps" class="org.vividus.steps.ui.web.SeleniumCookieSteps" />
    <bean id="checkboxSteps" class="org.vividus.steps.ui.web.CheckboxSteps" />
    <bean id="dropdownSteps" class="org.vividus.steps.ui.web.DropdownSteps" />
    <bean id="elementSteps" class="org.vividus.steps.ui.web.ElementSteps" />
    <bean id="fieldSteps" class="org.vividus.steps.ui.web.FieldSteps" />
    <bean id="focusSteps" class="org.vividus.steps.ui.web.FocusSteps" />
    <bean id="dragAndDropSteps" class="org.vividus.steps.ui.web.DragAndDropSteps" />
    <bean id="mouseSteps" class="org.vividus.steps.ui.web.MouseSteps" />

    <bean id="jsValidationSteps" class="org.vividus.steps.ui.web.JsValidationSteps">
        <property name="includeBrowserExtensionLogEntries" value="${web.steps.js.include-browser-extension-log-entries}" />
    </bean>

    <bean id="keyboardSteps" class="org.vividus.steps.ui.web.KeyboardSteps" />
    <bean id="nestedSteps" class="org.vividus.steps.ui.web.NestedSteps" />

    <bean id="pageSteps" class="org.vividus.steps.ui.web.PageSteps">
        <property name="httpClient" ref="httpClient" />
        <property name="keepUserInfoForProtocolRedirects" value="${web.steps.page.keep-user-info-for-protocol-redirects}" />
    </bean>

    <bean id="actionsSequenceSteps" class="org.vividus.steps.ui.web.ActionsSequenceSteps" />
    <bean id="browserSteps" class="org.vividus.steps.ui.web.BrowserSteps" />
    <bean id="performanceSteps" class="org.vividus.steps.ui.web.PerformanceSteps" />
    <bean id="geolocationEmulationSteps" class="org.vividus.steps.ui.web.devtools.GeolocationEmulationSteps" />
    <bean id="browserPermissionsSteps" class="org.vividus.steps.ui.web.bidi.BrowserPermissionsSteps" />
    <bean id="scriptSteps" class="org.vividus.steps.ui.web.ScriptSteps" />
    <bean id="scrollSteps" class="org.vividus.steps.ui.web.ScrollSteps" />
    <bean id="setContextSteps" class="org.vividus.steps.ui.web.SetContextSteps" />
    <bean id="setVariableSteps" class="org.vividus.steps.ui.web.SetVariableSteps" />
    <bean id="sliderSteps" class="org.vividus.steps.ui.web.SliderSteps" />
    <bean id="textValidationSteps" class="org.vividus.steps.ui.web.TextValidationSteps" />
    <bean id="videoPlayerSteps" class="org.vividus.steps.ui.web.VideoPlayerSteps" />
    <bean id="waitSteps" class="org.vividus.steps.ui.web.WaitSteps" />
    <bean id="windowSteps" class="org.vividus.steps.ui.web.WindowSteps" />

    <bean id="webUiVividusSetupSteps" class="org.vividus.steps.WebUiVividusSetupSteps">
        <property name="windowsStrategy" value="${selenium.windows-strategy}" />
    </bean>

    <bean class="org.vividus.ui.web.monitor.PublishingWebScreenshotOnFailureMonitor"
          parent="abstractPublishingScreenshotOnFailureMonitor"/>

    <bean class="org.vividus.selenium.WebContextSourceCodeProvider" />

    <bean id="sourceCodeAttachmentFormat" class="java.lang.String">
        <constructor-arg value="html" />
    </bean>

    <bean class="org.vividus.selenium.BrowserWindowSizeListener" lazy-init="false">
         <constructor-arg index="0" value="${web.browser.maximizeWindowOnStart}" />
    </bean>

    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="org.vividus.spring.StringToLocatorConverter" />
                <bean class="org.vividus.spring.StringToLocatorSetConverter" />
                <bean class="org.vividus.spring.StringToFormatConverter" />
            </set>
        </property>
    </bean>

    <bean class="org.vividus.ui.web.action.WebAtomicActionFactories$Click" />
    <bean class="org.vividus.ui.web.action.WebAtomicActionFactories$ClickAndHold" />
    <bean class="org.vividus.ui.web.action.WebAtomicActionFactories$DoubleClick" />
    <bean class="org.vividus.ui.web.action.WebAtomicActionFactories$Release" />
    <bean class="org.vividus.ui.web.action.WebAtomicActionFactories$MoveTo" />
    <bean class="org.vividus.ui.web.action.WebAtomicActionFactories$MoveByOffset" />
    <bean class="org.vividus.ui.web.action.WebAtomicActionFactories$EnterText" />
    <bean class="org.vividus.ui.web.action.WebAtomicActionFactories$PressKeys" />
    <bean class="org.vividus.ui.web.action.WebAtomicActionFactories$KeyDown" />
    <bean class="org.vividus.ui.web.action.WebAtomicActionFactories$KeyUp" />

    <bean class="org.vividus.ui.web.listener.BrowserLogCleaningListener.Factory"/>
    <bean class="org.vividus.ui.web.listener.AlertHandlingListener.Factory">
        <constructor-arg index="0" value="${selenium.alert-strategy}"/>
    </bean>
    <bean class="org.vividus.ui.web.listener.PerformanceMetricsListener.Factory" />
    <bean class="org.vividus.ui.web.listener.WebUiContextListener.Factory" />

    <util:list id="stepBeanNames-WebUi" value-type="java.lang.String">
        <idref bean="webDriverSetupSteps" />
        <idref bean="alertSteps" />
        <idref bean="cookieSteps" />
        <idref bean="scriptSteps" />
        <idref bean="codeSteps" />
        <idref bean="waitSteps" />
        <idref bean="setVariableSteps" />
        <idref bean="setContextSteps" />
        <idref bean="buttonSteps" />
        <idref bean="checkboxSteps" />
        <idref bean="dropdownSteps" />
        <idref bean="elementSteps" />
        <idref bean="fieldSteps" />
        <idref bean="pageSteps" />
        <idref bean="textValidationSteps" />
        <idref bean="jsValidationSteps" />
        <idref bean="focusSteps" />
        <idref bean="keyboardSteps" />
        <idref bean="sliderSteps" />
        <idref bean="videoPlayerSteps" />
        <idref bean="nestedSteps" />
        <idref bean="actionsSequenceSteps" />
        <idref bean="webUiVividusSetupSteps" />
        <idref bean="dragAndDropSteps" />
        <idref bean="mouseSteps" />
        <idref bean="scrollSteps" />
        <idref bean="performanceSteps" />
        <idref bean="windowSteps" />
        <idref bean="browserSteps" />
        <idref bean="geolocationEmulationSteps" />
        <idref bean="browserPermissionsSteps" />
    </util:list>

    <util:map id="propertyEditors-WebUi" key-type="java.lang.Class">
        <entry key="org.vividus.selenium.WebDriverType">
            <bean class="org.vividus.beans.RelaxedEnumPropertyEditor">
                <constructor-arg value="org.vividus.selenium.WebDriverType" />
            </bean>
        </entry>
        <entry key="org.openqa.selenium.Dimension">
            <bean class="org.vividus.ui.web.converter.DimensionPropertyEditor" />
        </entry>
    </util:map>

    <bean class="org.vividus.ui.web.converter.ExamplesTableToDefaultHttpHeadersConverter" />
    <bean class="org.vividus.ui.web.converter.ExamplesTableToWebScreenshotConfigurationConverter" />
    <bean class="org.vividus.ui.web.converter.StringToDimensionParameterConverter" />

    <bean id="current-page-url" class="org.vividus.ui.web.variable.CurrentPageUrlDynamicVariable"/>
    <bean id="browser-window-height" class="org.vividus.ui.web.variable.BrowserWindowHeightDynamicVariable"/>
    <bean id="browser-window-width" class="org.vividus.ui.web.variable.BrowserWindowWidthDynamicVariable"/>

    <bean class="org.vividus.ui.web.expression.DecodeDataUrlExpression" />

 </beans>
