<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">

    <bean class="org.vividus.xray.facade.XrayFacade">
        <constructor-arg index="0" value="${xray-exporter.jira-instance-key}" />
        <constructor-arg index="1" value="${xray-exporter.editable-statuses}" />
    </bean>

    <bean class="org.vividus.xray.factory.TestCaseFactory">
        <constructor-arg index="0" value="${xray-exporter.project-key}" />
        <constructor-arg index="1" value="${xray-exporter.assignee}" />
    </bean>
</beans>
