<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
       default-lazy-init="true">

    <beans profile="web,mobile_app">
        <bean id="scenario" class="org.vividus.visual.screenshot.ScenarioBasedIndexer" />

        <bean class="org.vividus.visual.screenshot.BaselineIndexer" >
            <constructor-arg index="1" value="${ui.visual.indexer}" />
        </bean>

        <util:list id="stepBeanNames-Visual-Hooks">
            <idref bean="scenario" />
        </util:list>

        <bean id="allureVisualPlugin" class="org.vividus.report.allure.plugin.EmbeddedPlugin">
            <constructor-arg value="visual" />
            <constructor-arg>
                <util:list value-type="java.lang.String">
                    <value>index.js</value>
                </util:list>
            </constructor-arg>
            <constructor-arg>
                <util:list value-type="java.lang.String">
                    <value>styles.css</value>
                </util:list>
            </constructor-arg>
            <constructor-arg>
                <util:list value-type="java.lang.String">
                    <bean class="org.vividus.report.allure.plugin.VisualPlugin" />
                </util:list>
            </constructor-arg>
        </bean>
    </beans>
</beans>
