<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
    default-lazy-init="true">

    <bean id="propertyMapper" class="org.vividus.util.property.PropertyMapper" >
        <constructor-arg index="0" value="${property-mapper.prefix-separator:.}" />
        <constructor-arg index="1" >
            <bean class="#{T(com.fasterxml.jackson.databind.PropertyNamingStrategies).${property-mapper.naming-strategy:KEBAB_CASE}.getClass().getName()}" />
        </constructor-arg>
    </bean>

    <bean id="jsonUtils-LowerCamelCase" class="org.vividus.util.json.JsonUtils">
        <constructor-arg>
            <util:constant static-field="com.fasterxml.jackson.databind.PropertyNamingStrategies.LOWER_CAMEL_CASE"/>
        </constructor-arg>
    </bean>

    <bean id="locationProvider" class="org.vividus.util.LocationProvider">
        <property name="locale" value="${location.locale:#{T(java.util.Locale).getDefault()}}" />
    </bean>

    <bean id="dateUtils" class="org.vividus.util.DateUtils">
        <constructor-arg value="${location.zone-id:#{T(java.time.ZoneId).systemDefault().toString()}}" />
    </bean>

    <bean id="qrCodeReader" class="org.vividus.util.qrCode.QRCodeReader" />

    <bean id="abstractFreemarkerConfig" class="freemarker.template.Configuration" abstract="true" >
        <constructor-arg index="0" value="2.3.31" />
        <property name="defaultEncoding" value="utf-8" />
        <property name="templateExceptionHandler" value="RETHROW_HANDLER" />
    </bean>

</beans>
