<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
    default-lazy-init="true">

    <bean id="propertyMapper" class="org.vividus.util.property.PropertyMapper" />

    <bean id="jsonUtils-LowerCamelCase" class="org.vividus.util.json.JsonUtils">
        <constructor-arg>
            <util:constant static-field="com.fasterxml.jackson.databind.PropertyNamingStrategies.LOWER_CAMEL_CASE"/>
        </constructor-arg>
    </bean>

    <bean id="locationProvider" class="org.vividus.util.LocationProvider">
        <property name="locale" value="${location.locale:#{T(java.util.Locale).getDefault()}}" />
    </bean>

</beans>
