<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:util="http://www.springframework.org/schema/util"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="
     http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd
     http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd"
     default-lazy-init="true" profile="mobile_app">

     <context:component-scan base-package="org.vividus.bdd.mobileapp.variable"/>

    <bean id="webDriverSetupSteps" class="org.vividus.bdd.steps.WebDriverSetupSteps">
        <constructor-arg index="0" value="${mobile-application.session-scope}" />
    </bean>

    <bean class="org.vividus.mobileapp.action.TouchActions" />

    <bean class="org.vividus.mobileapp.action.KeyboardActions" >
        <constructor-arg index="0" value="${mobile-environment.real-device}" />
    </bean>

    <bean class="org.vividus.mobileapp.action.DeviceActions" />

    <bean class="org.vividus.mobileapp.listener.PublishingSourceOnFailureListener" lazy-init="false" />

    <bean class="org.vividus.bdd.monitor.GenericScreenshotOnFailureMonitor" />

    <bean class="org.vividus.selenium.mobileapp.MobileAppScreenshotTaker" />

    <bean id="applicationSteps" class="org.vividus.bdd.mobileapp.steps.ApplicationSteps" />

    <bean id="touchSteps" class="org.vividus.bdd.mobileapp.steps.TouchSteps" />

    <bean id="setContextSteps" class="org.vividus.bdd.mobileapp.steps.SetContextSteps" />

    <bean id="elementSteps" class="org.vividus.bdd.mobileapp.steps.ElementSteps" />

    <bean id="deviceSteps" class="org.vividus.bdd.mobileapp.steps.DeviceSteps" >
        <constructor-arg index="0" value="${mobile-environment.device.folder-for-file-upload}" />
    </bean>

    <bean id="vividusWebDriverFactory" class="org.vividus.selenium.mobileapp.VividusMobileAppDriverFactory" />

    <bean class="org.vividus.bdd.mobileapp.configuration.MobileApplicationConfiguration" >
        <constructor-arg index="0" value="${mobile-application.swipe.stabilization-duration}" />
        <constructor-arg index="1" value="${mobile-application.swipe.limit}" />
    </bean>

    <bean class="org.vividus.selenium.mobileapp.MobileAppDriverFactory"
        parent="parentWebDriverFactory"/>

    <bean class="org.vividus.ui.mobile.action.search.ByAppiumLocatorSearch" parent="abstractElementAction" >
        <constructor-arg index="0" value="#{T(org.vividus.ui.mobile.action.search.AppiumLocatorType).XPATH}" />
        <constructor-arg index="1" value="#{T(org.vividus.ui.mobile.action.search.AppiumHow).XPATH}" />
    </bean>

    <bean class="org.vividus.ui.mobile.action.search.ByAppiumLocatorSearch" parent="abstractElementAction" >
        <constructor-arg index="0" value="#{T(org.vividus.ui.mobile.action.search.AppiumLocatorType).ACCESSIBILITY_ID}" />
        <constructor-arg index="1" value="#{T(org.vividus.ui.mobile.action.search.AppiumHow).ACCESSIBILITY_ID}" />
    </bean>

    <bean class="org.vividus.ui.mobile.action.search.ByAppiumLocatorSearch" parent="abstractElementAction" >
        <constructor-arg index="0" value="#{T(org.vividus.ui.mobile.action.search.AppiumLocatorType).IOS_CLASS_CHAIN}" />
        <constructor-arg index="1" value="#{T(org.vividus.ui.mobile.action.search.AppiumHow).IOS_CLASS_CHAIN}" />
    </bean>

    <bean class="org.vividus.ui.action.search.GenericTextFilter" >
        <constructor-arg index="0" value="#{T(org.vividus.ui.mobile.action.search.AppiumLocatorType).TEXT_PART}" />
        <constructor-arg index="1" value="#{T(org.vividus.bdd.steps.StringComparisonRule).CONTAINS}" />
    </bean>

    <bean class="org.vividus.ui.action.search.GenericTextFilter" >
        <constructor-arg index="0" value="#{T(org.vividus.ui.mobile.action.search.AppiumLocatorType).TEXT}" />
        <constructor-arg index="1" value="#{T(org.vividus.bdd.steps.StringComparisonRule).IS_EQUAL_TO}" />
    </bean>

    <bean class="org.vividus.ui.mobile.action.search.ElementAttributeFilter" />

    <bean class="org.vividus.ui.mobile.action.MobileAppElementActions" />

    <util:list id="stepBeanNames-MobileApp" value-type="java.lang.String">
        <idref bean="applicationSteps" />
        <idref bean="webDriverSetupSteps" />
        <idref bean="touchSteps" />
        <idref bean="deviceSteps" />
        <idref bean="elementSteps" />
        <idref bean="setContextSteps" />
    </util:list>
</beans>
