<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="analyticsFacade" init-method="init" class="org.vividus.analytics.GoogleAnalyticsFacade">
        <property name="trackingId" value="${analytics.tracking-id}" />
    </bean>

    <bean id="analyticsService" class="org.vividus.analytics.AnalyticsService">
        <property name="enabled" value="${analytics.enabled}" />
    </bean>

    <bean id="analyticsStoryReporter" class="org.vividus.analytics.AnalyticsStoryReporter" />

</beans>
