<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
       profile="crossbrowsertesting">

    <bean id="cbtLinkPublisher" class="org.vividus.crossbrowsertesting.CbtTestLinkPublisher" >
        <constructor-arg index="0" value="${selenium.grid.username}" />
        <constructor-arg index="1" value="${selenium.grid.password}" />
    </bean>

    <bean class="org.vividus.crossbrowsertesting.CbtTestStatusManager" lazy-init="false" >
        <constructor-arg index="0" value="${selenium.grid.username}" />
        <constructor-arg index="1" value="${selenium.grid.password}" />
    </bean>

    <bean class="org.vividus.selenium.crossbrowsertesting.CbtCapabilitiesConfigurer" />

    <util:list id="stepBeanNames-CrossBrowserTesting" value-type="java.lang.String">
        <idref bean="cbtLinkPublisher" />
    </util:list>
</beans>
