<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
    default-lazy-init="true">

    <bean id="blobSteps" class="org.vividus.azure.storage.blob.BlobSteps">
        <constructor-arg>
            <bean class="org.vividus.azure.storage.blob.service.BlobStorageService">
                 <constructor-arg name="accounts">
                     <bean factory-bean="propertyMapper" factory-method="readValues">
                         <constructor-arg value="azure.storage.blob.account." />
                         <constructor-arg value="org.vividus.azure.storage.blob.model.StorageAccount" />
                     </bean>
                 </constructor-arg>
            </bean>
        </constructor-arg>
    </bean>

    <util:list id="stepBeanNames-Azure-Storage-Blob" value-type="java.lang.String">
        <idref bean="blobSteps" />
    </util:list>
</beans>
