<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
       default-lazy-init="true">

    <bean class="org.vividus.bdd.expression.DateExpressionProcessor">
        <property name="locale" value="${bdd.date-expression-processor.locale}" />
    </bean>

    <bean id="dateValidationSteps" class="org.vividus.bdd.steps.DateValidationSteps">
        <property name="softAssert" ref="softAssert" />
    </bean>

    <util:list id="stepBeanNames-DateTime" value-type="java.lang.String">
         <idref bean="dateValidationSteps" />
    </util:list>
</beans>
