<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
        default-lazy-init="true" profile="web">

    <bean id="httpRequestSteps" class="org.vividus.bdd.steps.integration.HttpRequestSteps" />

    <bean id="resourceCheckSteps" class="org.vividus.bdd.steps.integration.ResourceCheckSteps" init-method="init">
        <property name="uriToIgnoreRegex" value="${resource-checker.uri-to-ignore-regex}" />
    </bean>

    <bean id="httpResourceValidator" class="org.vividus.validator.ResourceValidator" />

    <bean id="httpRedirectsProvider" class="org.vividus.http.HttpRedirectsProvider">
        <property name="httpClient">
            <bean class="org.vividus.http.client.HttpClient"
                  factory-bean="httpClientFactory"
                  factory-method="buildHttpClient">
                <constructor-arg>
                    <bean parent="httpClientConfig">
                        <property name="circularRedirectsAllowed" value="${http.redirects-provider.circular-redirects-allowed}" />
                        <property name="credentials" value="${http.redirects-provider.credentials}" />
                    </bean>
                </constructor-arg>
            </bean>
        </property>
    </bean>

    <bean id="abstractFetchingUrlsTableTransformer"
          class="org.vividus.transformer.AbstractFetchingUrlsTableTransformer"
          abstract="true">
        <property name="webApplicationConfiguration" ref="webApplicationConfiguration" />
        <property name="httpRedirectsProvider" ref="httpRedirectsProvider" />
    </bean>

    <bean name="FROM_SITEMAP" class="org.vividus.transformer.SiteMapTableTransformer"
          parent="abstractFetchingUrlsTableTransformer">
        <property name="siteMapParser" ref="siteMapParser" />
        <property name="ignoreErrors" value="${bdd.transformer.sitemap.ignore-errors}" />
        <property name="filterRedirects" value="${bdd.transformer.sitemap.filter-redirects}" />
    </bean>

    <bean name="FROM_HEADLESS_CRAWLING" class="org.vividus.transformer.HeadlessCrawlerTableTransformer"
          parent="abstractFetchingUrlsTableTransformer">
        <property name="crawlControllerFactory">
            <bean class="org.vividus.crawler.CrawlControllerFactory">
                <property name="crawlStorageFolder" value="${output.directory}/headless-crawler-storage" />
            </bean>
        </property>
        <property name="filterRedirects" value="${bdd.transformer.headless.filter-redirects}" />
        <property name="seedRelativeUrls" value="${bdd.transformer.headless.seed-relative-urls}" />
    </bean>

    <bean class="org.vividus.http.client.HttpClient" id="resourceValidator"
        factory-bean="httpClientFactory"
        factory-method="buildHttpClient">
        <constructor-arg>
            <bean parent="restApiHttpClientConfig">
                <property name="skipResponseEntity" value="true" />
                <property name="lastRequestInterceptor"><null/></property>
                <property name="lastResponseInterceptor"><null/></property>
            </bean>
        </constructor-arg>
    </bean>

    <util:list id="stepBeanNames-WebAppToRestApi" value-type="java.lang.String">
        <idref bean="httpRequestSteps" />
        <idref bean="resourceCheckSteps" />
    </util:list>
 </beans>
