<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
    default-lazy-init="true">

    <bean class="org.vividus.bdd.steps.SpringStepFactoryBeanPostProcessor" />

    <bean id="assertSteps" class="org.vividus.bdd.steps.AssertSteps" />

    <bean id="bddVariableSteps" class="org.vividus.bdd.steps.BddVariableSteps" />

    <bean id="freemarkerSteps" class="org.vividus.bdd.steps.FreemarkerSteps">
        <constructor-arg index="0" value="${template-processor.resolve-bdd-variables}" />
        <constructor-arg index="1">
            <bean parent="abstractFreemarkerConfig">
                <property name="templateLoader">
                    <bean class="freemarker.cache.ClassTemplateLoader">
                        <constructor-arg index="0" value="org.vividus.bdd.steps.FreemarkerSteps" />
                        <constructor-arg index="1" value="/" />
                    </bean>
                </property>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="debugSteps" class="org.vividus.bdd.steps.DebugSteps" />
    <bean id="executableSteps" class="org.vividus.bdd.steps.ExecutableSteps" />
    <bean id="fileSteps" class="org.vividus.bdd.steps.FileSteps" />
    <bean id="setupSteps" class="org.vividus.bdd.steps.SetupSteps" />

    <util:list id="stepBeanNames-Vividus">
        <idref bean="assertSteps" />
        <idref bean="bddVariableSteps" />
        <idref bean="fileSteps" />
        <idref bean="executableSteps" />
        <idref bean="setupSteps" />
        <idref bean="debugSteps" />
        <idref bean="freemarkerSteps" />
    </util:list>

</beans>
