<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
    default-lazy-init="true">

    <bean class="org.vividus.bdd.steps.SpringStepFactoryBeanPostProcessor" />

    <bean id="assertSteps" class="org.vividus.bdd.steps.AssertSteps" />

    <bean id="bddVariableSteps" class="org.vividus.bdd.steps.BddVariableSteps">
        <property name="freemarkerProcessor">
            <bean class="org.vividus.util.freemarker.FreemarkerProcessor">
                <constructor-arg value="org.vividus.bdd.steps.BddVariableSteps" />
                <constructor-arg value="/" />
            </bean>
        </property>
    </bean>

    <bean id="executableSteps" class="org.vividus.bdd.steps.ExecutableSteps" />
    <bean id="fileSteps" class="org.vividus.bdd.steps.FileSteps" />
    <bean id="setupSteps" class="org.vividus.bdd.steps.SetupSteps" />

    <util:list id="stepBeanNames-Vividus">
        <value>assertSteps</value>
        <value>bddVariableSteps</value>
        <value>fileSteps</value>
        <value>executableSteps</value>
        <value>setupSteps</value>
    </util:list>

</beans>
