<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="properties" class="org.vividus.configuration.PropertiesDecryptor" factory-method="decryptProperties">
        <constructor-arg ref="stringEncryptor"/>
        <constructor-arg>
            <bean factory-bean="configurationResolver" factory-method="getProperties"/>
        </constructor-arg>
    </bean>

    <bean id="propertyParser" class="org.vividus.util.property.PropertyParser" />

    <bean id="configurationResolver" class="org.vividus.configuration.ConfigurationResolver"
        factory-method="getInstance" />

    <bean class="org.jasypt.spring4.properties.EncryptablePropertyPlaceholderConfigurer">
        <constructor-arg ref="stringEncryptor"/>
        <property name="systemPropertiesMode" value="#{T(org.springframework.beans.factory.config.PropertyPlaceholderConfigurer).SYSTEM_PROPERTIES_MODE_OVERRIDE}" />

        <property name="nullValue" value="" />
        <property name="properties" ref="properties" />
    </bean>

    <bean id ="stringEncryptor" class="org.jasypt.encryption.pbe.StandardPBEStringEncryptor">
        <property name="config">
            <bean class="org.jasypt.encryption.pbe.config.SimplePBEConfig">
                <property name="algorithm" value="PBEWithMD5AndDES"/>
                <property name="password" value="#{systemProperties['vividus.encryptor.password']?:'82=thuMUH@'}"/>
            </bean>
        </property>
    </bean>

    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="org.vividus.spring.StringToDateTimeFormatterConverter" />
                <bean class="org.vividus.spring.StringToLocaleConverter"/>
            </set>
        </property>
    </bean>

    <bean class="org.vividus.spring.VividusEditorConfigurer" />
    <bean class="org.vividus.softassert.FailFastManager" />

    <bean id="softAssert" class="org.vividus.softassert.SoftAssert"
          init-method="init">
        <property name="testContext" ref="testContext" />
        <property name="formatter" ref="assertionFormatter" />
        <property name="knownIssueChecker" ref="knownIssueChecker" />
        <property name="eventBus" ref="eventBus" />
        <property name="failTestCaseFast" value="${bdd.scenario.fail-fast}" />
    </bean>

</beans>
