<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
    default-lazy-init="true">

    <bean id="jsonSoftAssert" class="org.vividus.json.softassert.JsonSoftAssert" parent="softAssert" />

    <bean id="jsonSteps" class="org.vividus.json.steps.JsonSteps">
        <property name="softAssert" ref="jsonSoftAssert" />
    </bean>

    <bean id="jsonPatchSteps" class="org.vividus.json.steps.JsonPatchSteps" />

    <util:list id="stepBeanNames-Json">
        <idref bean="jsonSteps" />
        <idref bean="jsonPatchSteps" />
    </util:list>
</beans>
