<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
    default-lazy-init="true">

    <bean class="org.vividus.azure.identity.CredentialFactory" factory-method="createTokenCredential" />

    <bean id="blobSteps" class="org.vividus.azure.storage.blob.BlobStorageSteps">
        <constructor-arg>
            <bean factory-bean="propertyParser" factory-method="readValues">
                <constructor-arg value="azure.storage-account." />
            </bean>
        </constructor-arg>
    </bean>

    <bean id="storageAccountManagementSteps" class="org.vividus.azure.storage.StorageAccountManagementSteps">
        <constructor-arg>
            <bean class="com.azure.core.management.profile.AzureProfile">
                <constructor-arg type="com.azure.core.management.AzureEnvironment" value="${azure.storage-account.environment}" />
            </bean>
        </constructor-arg>
    </bean>

    <util:list id="stepBeanNames-Azure-StorageAccount" value-type="java.lang.String">
        <idref bean="blobSteps" />
        <idref bean="storageAccountManagementSteps" />
    </util:list>
</beans>
