<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
    default-lazy-init="true">

    <bean id="httpTestContext" class="org.vividus.http.HttpTestContext" />

    <bean id="cookieStoreProvider" class="org.vividus.http.CookieStoreProviderImpl">
        <constructor-arg value="${rest-api.http.cookie-store-level}" />
    </bean>

    <bean id="extendedHttpLoggingInterceptor" class="org.vividus.http.ExtendedHttpLoggingInterceptor">
        <constructor-arg value="${rest-api.http.extended-logging}" />
    </bean>

    <bean id="publishingAttachmentInterceptor" class="org.vividus.http.PublishingAttachmentInterceptor" />

    <bean id="restApiHttpClientConfig" parent="httpClientConfig">
        <property name="headers">
            <bean factory-bean="propertyParser" factory-method="getPropertyValuesByPrefix">
                <constructor-arg value="rest-api.http.header." />
            </bean>
        </property>
        <property name="firstRequestInterceptor" ref="extendedHttpLoggingInterceptor"/>
        <property name="lastRequestInterceptor" ref="publishingAttachmentInterceptor" />
        <property name="lastResponseInterceptor">
            <bean class="org.vividus.http.SavingConnectionDetailsHttpResponseInterceptor">
                <property name="httpTestContext" ref="httpTestContext" />
            </bean>
        </property>
        <property name="cookieStoreProvider" ref="cookieStoreProvider" />
        <property name="httpResponseHandlers">
            <list>
                <ref bean="extendedHttpLoggingInterceptor" />
                <ref bean="publishingAttachmentInterceptor" />
            </list>
        </property>
    </bean>

    <bean id="httpClient-ResourceValidator" class="org.vividus.http.client.HttpClient"
          factory-bean="httpClientFactory"
          factory-method="buildHttpClient">
        <constructor-arg>
            <bean parent="restApiHttpClientConfig">
                <property name="skipResponseEntity" value="#{!${resource-checker.publish-response-body}}" />
                <property name="lastRequestInterceptor"><null/></property>
                <property name="lastResponseInterceptor"><null/></property>
                <property name="httpResponseHandlers"><list/></property>
            </bean>
        </constructor-arg>
    </bean>

    <bean class="org.vividus.http.HttpRequestExecutor">
        <constructor-arg>
            <bean class="org.vividus.http.client.HttpClient"
                  factory-bean="httpClientFactory"
                  factory-method="buildHttpClient">
                <constructor-arg>
                    <ref bean="restApiHttpClientConfig" />
                </constructor-arg>
            </bean>
        </constructor-arg>
        <constructor-arg ref="httpTestContext" />
        <constructor-arg ref="softAssert" />
    </bean>

    <bean id="redirectsHttpClientConfig" parent="httpClientConfig">
        <property name="circularRedirectsAllowed" value="${http.redirects-provider.circular-redirects-allowed}" />
    </bean>

    <bean id="httpRedirectsProvider" class="org.vividus.http.HttpRedirectsProvider">
        <property name="httpClient">
            <bean class="org.vividus.http.client.HttpClient"
                  factory-bean="httpClientFactory"
                  factory-method="buildHttpClient">
                <constructor-arg ref="redirectsHttpClientConfig" />
            </bean>
        </property>
    </bean>

    <bean id="apiSteps" class="org.vividus.http.steps.HttpRequestSteps">
        <property name="apiEndpoint" value="${rest-api.http.endpoint}"/>
    </bean>

    <bean id="httpResourceValidationSteps" class="org.vividus.http.steps.HttpResourceValidationSteps">
        <constructor-arg>
            <bean class="org.vividus.http.validation.ResourceValidator">
                <constructor-arg ref="httpClient-ResourceValidator" />
                <property name="publishResponseBody" value="${resource-checker.publish-response-body}" />
            </bean>
        </constructor-arg>
    </bean>

    <bean id="httpCookieSteps" class="org.vividus.http.steps.HttpCookieSteps"/>
    <bean id="httpResponseValidationSteps" class="org.vividus.http.steps.HttpResponseValidationSteps" />
    <bean id="jsonResponseValidationSteps" class="org.vividus.http.steps.JsonResponseValidationSteps" />
    <bean id="jwtSteps" class="org.vividus.http.steps.JwtSteps"/>
    <bean id="redirectValidationSteps" class="org.vividus.http.steps.RedirectValidationSteps" />
    <bean id="sslSteps" class="org.vividus.ssl.steps.SslSteps" />

    <util:list id="stepBeanNames-Api" value-type="java.lang.String">
        <idref bean="apiSteps" />
        <idref bean="cookieStoreProvider" />
        <idref bean="httpCookieSteps" />
        <idref bean="httpResourceValidationSteps" />
        <idref bean="httpResponseValidationSteps" />
        <idref bean="jsonResponseValidationSteps" />
        <idref bean="jwtSteps" />
        <idref bean="redirectValidationSteps" />
        <idref bean="sslSteps" />
    </util:list>

    <util:map id="propertyEditors-RestApi" key-type="java.lang.Class">
        <entry key="org.vividus.http.CookieStoreLevel">
            <bean class="org.vividus.beans.RelaxedEnumPropertyEditor">
                <constructor-arg value="org.vividus.http.CookieStoreLevel" />
            </bean>
        </entry>
    </util:map>

    <bean id="response-code" class="org.vividus.http.variable.ResponseCodeDynamicVariable"/>
    <bean id="response" class="org.vividus.http.variable.ResponseDynamicVariable"/>
    <bean id="response-as-bytes" class="org.vividus.http.variable.ResponseAsBytesDynamicVariable"/>

    <bean class="org.vividus.http.expression.PkceExpressionProcessor" />
    <bean class="org.vividus.http.expression.RemoveWrappingDoubleQuotesExpressionProcessor" />
    <bean class="org.vividus.http.expression.UriExpressionProcessors" />
</beans>
