<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd"
    default-lazy-init="true">

    <bean id="abstractAllureStoryReporter" class="org.vividus.bdd.report.allure.AllureStoryReporter"
        abstract="true">
        <property name="allureReportGenerator" ref="allureReportGenerator" />
        <property name="bddRunContext" ref="bddRunContext" />
        <property name="batchStorage" ref="batchStorage" />
        <property name="testContext" ref="testContext" />
        <property name="allureRunContext">
            <bean class="org.vividus.bdd.report.allure.AllureRunContext" />
        </property>
        <property name="verificationErrorAdapter">
            <bean class="org.vividus.bdd.report.allure.adapter.VerificationErrorAdapter" />
        </property>
    </bean>

    <bean id="allureReportGenerator" class="org.vividus.bdd.report.allure.AllureReportGenerator"
        destroy-method="end">
        <property name="reportDirectory" value="${allure.report-directory}" />
        <property name="historyDirectory" value="${allure.history-directory}" />
    </bean>

    <bean class="org.vividus.bdd.report.allure.listener.AllureAssertionFailureListener"
        lazy-init="false" />

</beans>
