<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">

    <bean class="org.vividus.jira.JiraFacade" />

    <bean class="org.vividus.jira.JiraConfigurationProvider">
        <constructor-arg index="0">
            <bean factory-bean="propertyMapper" factory-method="readValues">
                <constructor-arg value="jira." />
                <constructor-arg value="http." />
                <constructor-arg value="org.vividus.jira.model.JiraConfiguration" />
            </bean>
        </constructor-arg>
    </bean>

    <bean class="org.vividus.jira.JiraClientProvider" />
</beans>
