<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">

    <bean class="org.vividus.jira.JiraFacade" />

    <bean class="org.vividus.jira.JiraClient">
        <constructor-arg index="0" value="${jira.endpoint}" />
        <constructor-arg index="1">
            <bean class="org.vividus.http.client.HttpClient" factory-bean="httpClientFactory"
                  factory-method="buildHttpClient">
                <constructor-arg>
                    <bean parent="httpClientConfig">
                        <property name="headersMap">
                            <bean factory-bean="propertyParser" factory-method="getPropertyValuesByPrefix">
                                <constructor-arg value="jira.http.header." />
                            </bean>
                        </property>
                        <property name="username" value="${jira.username}" />
                        <property name="password" value="${jira.password}" />
                        <property name="preemptiveAuthEnabled" value="${jira.preemptive-auth-enabled}" />
                        <property name="httpResponseHandlers">
                            <list>
                                <bean class="org.vividus.http.handler.StatusCodeValidatingHandler" >
                                    <constructor-arg index="0" value="200" />
                                    <constructor-arg index="1" value="299" />
                                    <constructor-arg index="2" value="JIRA" />
                                </bean>
                            </list>
                        </property>
                    </bean>
                </constructor-arg>
            </bean>
        </constructor-arg>
    </bean>
</beans>
