<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd"
    default-lazy-init="true">

    <bean class="org.vividus.report.allure.AllureRunContext" />

    <bean class="org.vividus.report.allure.adapter.VerificationErrorAdapter" />

    <bean id="allureReportGenerator" class="org.vividus.report.allure.AllureReportGenerator"
        destroy-method="end">
        <property name="reportDirectory" value="${allure.report-directory}" />
        <property name="historyDirectory" value="${allure.history-directory}" />
    </bean>

</beans>
