<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
     http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
    default-lazy-init="true">

    <bean class="org.vividus.report.allure.plugin.EmbeddedPlugin">
        <constructor-arg value="behaviors" />
        <constructor-arg>
            <util:list value-type="java.lang.String">
                <value>index.js</value>
            </util:list>
        </constructor-arg>
        <constructor-arg>
            <bean class="io.qameta.allure.behaviors.BehaviorsPlugin" />
        </constructor-arg>
    </bean>

    <bean class="org.vividus.report.allure.plugin.EmbeddedPlugin">
        <constructor-arg value="vividus-logo" />
    </bean>

    <bean class="org.vividus.report.allure.plugin.EmbeddedPlugin">
        <constructor-arg value="vividus-title" />
    </bean>

    <bean class="org.vividus.report.allure.plugin.EmbeddedPlugin">
        <constructor-arg value="vividus-step-formatting" />
    </bean>

    <bean class="org.vividus.report.allure.AllureRunContext" />

    <bean class="org.vividus.report.allure.adapter.VerificationErrorAdapter" />

    <bean id="allurePluginsProvider" class="org.vividus.report.allure.AllurePluginsProvider" />

    <bean id="allureReportGenerator" class="org.vividus.report.allure.AllureReportGenerator"
        destroy-method="end">
        <constructor-arg>
            <bean class="org.vividus.report.allure.notification.NotificationsSender" />
        </constructor-arg>
        <property name="reportDirectory" value="${allure.report-directory}" />
        <property name="historyDirectory" value="${allure.history-directory}" />
    </bean>

</beans>
