<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
     http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
    default-lazy-init="true">

    <bean id="pluginFilesLoader" class="org.vividus.report.allure.plugin.PluginFilesLoader" destroy-method="destroy" />

    <bean class="org.vividus.report.allure.plugin.EmbeddedPlugin">
        <constructor-arg index="0" value="behaviors" />
        <constructor-arg index="1">
            <util:list value-type="java.lang.String">
                <value>index.js</value>
            </util:list>
        </constructor-arg>
        <constructor-arg index="2">
            <bean class="io.qameta.allure.behaviors.BehaviorsPlugin" />
        </constructor-arg>
        <constructor-arg index="3" ref="pluginFilesLoader" />
    </bean>

    <bean class="org.vividus.report.allure.plugin.EmbeddedPlugin">
        <constructor-arg index="0" value="vividus-step-formatting" />
        <constructor-arg index="1">
            <util:list value-type="java.lang.String">
                <value>styles.css</value>
            </util:list>
        </constructor-arg>
        <constructor-arg index="2" ref="pluginFilesLoader" />
    </bean>

    <bean class="org.vividus.report.allure.plugin.CustomTranslationsPlugin">
        <constructor-arg>
            <bean factory-bean="propertyMapper" factory-method="readValues">
                <constructor-arg value="report.translations." />
                <constructor-arg value="java.util.Map" />
            </bean>
        </constructor-arg>
    </bean>

    <bean class="org.vividus.report.allure.plugin.LayoutConfiguringPlugin">
        <constructor-arg>
            <bean factory-bean="propertyMapper" factory-method="readValues">
                <constructor-arg value="report.tabs." />
                <constructor-arg value="org.vividus.report.allure.plugin.LayoutConfiguringPlugin.Component" />
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean factory-bean="propertyMapper" factory-method="readValues">
                <constructor-arg value="report.tabs.overview.widgets." />
                <constructor-arg value="org.vividus.report.allure.plugin.LayoutConfiguringPlugin.Component" />
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean factory-bean="propertyMapper" factory-method="readValues">
                <constructor-arg value="report.tabs.graph.charts." />
                <constructor-arg value="org.vividus.report.allure.plugin.LayoutConfiguringPlugin.Component" />
            </bean>
        </constructor-arg>
    </bean>

    <bean class="org.vividus.report.allure.plugin.BrandLogoPlugin">
        <constructor-arg value="${report.brand.logo-path}" />
    </bean>

    <bean class="org.vividus.report.allure.plugin.BrandTitlePlugin">
        <constructor-arg value="${report.brand.title}" />
    </bean>

    <bean class="org.vividus.report.allure.AllureRunContext" />

    <bean class="org.vividus.report.allure.adapter.VerificationErrorAdapter" />

    <bean id="allurePluginsProvider" class="org.vividus.report.allure.AllurePluginsProvider" />

    <bean id="allureReportGenerator" class="org.vividus.report.allure.AllureReportGenerator"
        destroy-method="end">
        <constructor-arg index="0" value="${report.title}" />
        <constructor-arg>
            <bean class="org.vividus.report.allure.notification.NotificationsSender" />
        </constructor-arg>
        <property name="reportDirectory" value="${allure.report-directory}" />
        <property name="historyDirectory" value="${allure.history-directory}" />
    </bean>

</beans>
