<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true" profile="web,mobile_app">

    <context:component-scan base-package="org.vividus.visual.storage" />

    <bean id="visualSteps" class="org.vividus.visual.VisualSteps">
        <constructor-arg ref="screenshotParametersFactory" />
    </bean>

    <bean id="visualTestingEngine" class="org.vividus.visual.engine.VisualTestingEngine">
        <constructor-arg index="0" ref="screenshotTaker" />
        <property name="acceptableDiffPercentage" value="${ui.visual.acceptable-diff-percentage}" />
        <property name="requiredDiffPercentage" value="${ui.visual.required-diff-percentage}" />
        <property name="overrideBaselines" value="${ui.visual.override-baselines}" />
        <property name="baselineStorage" value="${ui.visual.baseline-storage}" />
    </bean>

    <bean class="org.vividus.visual.engine.DiffMarkupPolicyFactory" />

    <bean id="filesystem" class="org.vividus.visual.storage.FileSystemBaselineStorage">
        <property name="baselinesFolder" value="${ui.visual.baseline-storage.filesystem.folder}" />
    </bean>

    <util:list id="stepBeanNames-Visual">
        <idref bean="visualSteps" />
    </util:list>
</beans>
