<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
       default-lazy-init="true" profile="web">

    <bean id="visualSteps" class="org.vividus.visual.VisualSteps" />

    <bean id="visualTestingEngine" class="org.vividus.visual.engine.VisualTestingEngine">
        <property name="acceptableDiffPercentage" value="${web.visual.acceptable-diff-percentage}" />
        <property name="overrideBaselines" value="${web.visual.override-baselines}" />
    </bean>

    <bean id="fileSystemBaselineRepository" class="org.vividus.visual.engine.FileSystemBaselineRepository">
        <property name="baselinesFolder" value="${web.visual.baselines-folder}" />
    </bean>

    <util:list id="stepBeanNames-Visual">
        <idref bean="visualSteps" />
    </util:list>
</beans>
