<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
        default-lazy-init="true" profile="web,mobile_app">

    <context:component-scan base-package="org.vividus.bdd.converter.ui" >
         <context:exclude-filter type="regex" expression="org\.vividus\.bdd\.converter\.ui\..*\..*"/>
    </context:component-scan>

    <bean id="parentWebDriverFactory" class="org.vividus.selenium.AbstractWebDriverFactory" abstract="true">
        <property name="remoteDriverUrl" value="${selenium.grid.url}" />
    </bean>

    <bean id="remoteWebDriverFactory" class="org.vividus.selenium.RemoteWebDriverFactory" />

    <bean id="genericWebDriverManager" class="org.vividus.selenium.manager.GenericWebDriverManager">
        <property name="mobileApp" value="${mobile-app}" />
    </bean>

    <bean id="webDriverProvider" class="org.vividus.selenium.WebDriverProvider"
          destroy-method="destroy">
        <property name="vividusWebDriverFactory" ref="vividusWebDriverFactory" />
        <property name="testContext" ref="testContext" />
    </bean>

    <bean id="webDriverManagerContext" class="org.vividus.selenium.WebDriverManagerContext" />

    <bean id="waitActions" class="org.vividus.ui.action.WaitActions" />

    <bean class="org.vividus.ui.action.WaitFactory">
        <property name="timeout" value="${ui.wait.timeout}" />
        <property name="pollingPeriod" value="${ui.wait.polling-period}" />
    </bean>

    <bean class="org.vividus.ui.action.SearchActions" />

    <bean id="abstractElementAction" class="org.vividus.ui.action.search.AbstractElementAction"
          abstract="true">
        <property name="waitForElementTimeout" value="${ui.search.wait-for-element-timeout}" />
        <property name="retrySearchIfStale" value="${ui.search.retry-search-if-stale}" />
        <property name="waitActions" ref="waitActions" />
    </bean>

    <bean class="org.vividus.proxy.ThreadedProxy" >
        <constructor-arg index="0" value="${proxy.host}" />
        <constructor-arg index="1" value="${proxy.ports}" />
        <constructor-arg index="2">
            <bean class="org.vividus.proxy.ProxyFactory" />
        </constructor-arg>
    </bean>

    <bean id="proxyServerFactory" class="org.vividus.proxy.ProxyServerFactory">
        <property name="trustAllServers" value="${proxy.trust-all-servers}" />
        <property name="mitmEnabled" value="${proxy.mitm.enabled}" />
        <property name="mitmManagerFactory">
            <bean class="org.vividus.proxy.mitm.MitmManagerFactory" />
        </property>
        <property name="mitmManagerOptions">
            <bean class="org.vividus.proxy.mitm.MitmManagerOptions" >
                <constructor-arg index="0" value="${proxy.mitm.key-store.alias}" />
                <constructor-arg index="1" value="${proxy.trust-all-servers}" />
                <constructor-arg index="2" >
                    <bean class="org.vividus.http.keystore.KeyStoreOptions">
                        <constructor-arg index="0" value="${proxy.mitm.key-store.path}" />
                        <constructor-arg index="1" value="${proxy.mitm.key-store.password}" />
                        <constructor-arg index="2" value="${proxy.mitm.key-store.type}" />
                    </bean>
                </constructor-arg>
            </bean>
        </property>
        <property name="advancedHostResolver">
            <bean class="org.vividus.proxy.dns.HostNameResolver">
                <property name="dnsMappingStorage" ref="localDnsStorage" />
            </bean>
        </property>
        <property name="captureTypes" value="${proxy.capture-types}"/>
    </bean>

    <bean id="storyReporter" class="org.vividus.bdd.RunContextStoryReporter">
        <property name="next">
            <bean class="org.vividus.bdd.proxy.ProxyAgentStoryReporter">
                <property name="proxyEnabled" value="${proxy.enabled}" />
                <property name="proxyRecordingEnabled" value="${proxy.recording.enabled}" />
                <property name="next" ref="allureStoryReporter" />
            </bean>
        </property>
    </bean>

    <bean class="org.vividus.ui.action.ExpectedSearchActionsConditions" />
    <bean class="org.vividus.ui.action.ExpectedSearchContextConditions" />

    <bean id="uiContext" class="org.vividus.ui.context.UiContext">
        <property name="testContext" ref="testContext" />
    </bean>

    <bean class="org.vividus.bdd.steps.ui.validation.DescriptiveSoftAssert" parent="softAssert" />

    <bean class="org.vividus.bdd.steps.ui.validation.BaseValidations" />

    <bean class="org.vividus.ui.action.search.ElementActionService" init-method="init"/>

    <bean class="org.vividus.ui.util.LocatorConversionUtils" />

    <bean class="org.vividus.ui.listener.UiContextListener" lazy-init="false" />

    <bean class="org.vividus.selenium.screenshot.ScreenshotFileNameGenerator" />

    <bean id="genericElementSteps" class="org.vividus.bdd.steps.ui.GenericElementSteps" />
    <bean id="genericWaitSteps" class="org.vividus.bdd.steps.ui.GenericWaitSteps" />
    <bean id="genericSetVariableSteps" class="org.vividus.bdd.steps.ui.GenericSetVariableSteps" />

    <util:list id="stepBeanNames-UI" value-type="java.lang.String">
        <idref bean="genericElementSteps" />
        <idref bean="genericWaitSteps" />
        <idref bean="genericSetVariableSteps" />
    </util:list>

    <util:map id="propertyEditors-UI" key-type="java.lang.Class">
        <entry key="org.vividus.bdd.steps.WebDriverSessionScope">
            <bean class="org.vividus.beans.RelaxedEnumPropertyEditor">
                <constructor-arg value="org.vividus.bdd.steps.WebDriverSessionScope" />
            </bean>
        </entry>
        <entry key="org.vividus.model.IntegerRange">
            <bean class="org.vividus.beans.IntegerRangePropertyEditor" />
        </entry>
        <entry key="java.time.Duration">
            <bean class="org.vividus.beans.DurationPropertyEditor" />
        </entry>
    </util:map>
 </beans>
