<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
        default-lazy-init="true" profile="web,mobile_app">

    <bean id="parentWebDriverFactory" class="org.vividus.selenium.AbstractWebDriverFactory" abstract="true">
        <property name="remoteDriverUrl" value="${selenium.grid.url}" />
    </bean>

    <bean id="remoteWebDriverFactory" class="org.vividus.selenium.RemoteWebDriverFactory" />

    <bean id="genericWebDriverManager" class="org.vividus.selenium.manager.GenericWebDriverManager">
        <property name="mobileApp" value="${mobile-app}" />
    </bean>

    <bean id="webDriverProvider" class="org.vividus.selenium.WebDriverProvider"
          destroy-method="destroy">
        <property name="testContext" ref="testContext" />
    </bean>

    <bean id="webDriverManagerContext" class="org.vividus.selenium.WebDriverManagerContext" />

    <bean id="vividusWebDriverSetupSteps" class="org.vividus.bdd.steps.VividusWebDriverSetupSteps" />

    <util:list id="stepBeanNames-Selenium" value-type="java.lang.String">
        <value>vividusWebDriverSetupSteps</value>
    </util:list>
 </beans>
