<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"
    default-lazy-init="true">

    <bean id="dynamoDbSteps" class="org.vividus.aws.dynamodb.steps.DynamoDbSteps">
        <constructor-arg index="0" value="${aws.dynamodb.role-arn}" />
    </bean>

    <util:list id="stepBeanNames-AWS-DynamoDb" value-type="java.lang.String">
        <idref bean="dynamoDbSteps" />
    </util:list>
</beans>
