<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
    default-lazy-init="true">

    <bean class="org.vividus.bdd.expression.ConvertCsvToParquetFileExpressionProcessor">
        <constructor-arg>
            <bean class="org.vividus.csv.CsvReader">
                <constructor-arg
                value="#{T(org.apache.commons.csv.CSVFormat).${expression.csv-to-parquet.csv-format}}" />
            </bean>
        </constructor-arg>
    </bean>
</beans>
