name: Vividus Documentation

on:
  push:
    branches:
      - master
    paths:
      - 'docs/**'
      - '*.md'
      - '.github/workflows/docs.yml'
  pull_request:
    branches:
      - master
    paths:
      - 'docs/**'
      - '*.md'
      - '.github/workflows/docs.yml'

jobs:
  build:
    runs-on: 'ubuntu-latest'
    steps:
    - name: Checkout (including submodules and tags)
      uses: actions/checkout@v5
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 21

    - name: Run static code analysis
      run: ./gradlew spotlessDocumentationCheck

    - name: Notify playbook
      if: github.ref == 'refs/heads/master'
      env:
        GH_TOKEN: ${{ secrets.DOCS_TOKEN }}
      shell: bash
      run: |
        curl -H "Authorization: token ${GH_TOKEN}" \
        -H 'Accept: application/vnd.github.everest-preview+json' \
        "https://api.github.com/repos/vividus-framework/docs.vividus.dev/dispatches" \
        -d '{"event_type": "deploy", "client_payload": {"branch": "master"}}'
